
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{header}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
	<div>
		<img src="{% static 'images/image.jpg' %}" width = 15%>

	{% for item in category %}
	<a href="/">{{item.name}}</a>
	<br/>
	{% endfor %}


	{% for post in title %}
	<a href="{% url 'singlepost' post.id %}">

		<h1 class='title'> {{post.title}}</h1></a>
		<small> published by {{post.author}}, {{post.published}} in {{post.Category.name}}</small>
		<p>{{post.body|truncatewords:10}}...<a href="{% url 'singlepost' post.id %}"> Read more </a></abbr></p>
		<br/>
	
	</div>

	{% endfor %}



</body>
</html>